.vikendice-section {
  margin-top: 20px;
}

.vikendice-section h2 {
  font-size: 28px;
  color: #3f51b5;
  margin-bottom: 20px;
}

.vikendice-tabela {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.vikendice-tabela th,
.vikendice-tabela td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

.vikendice-tabela th {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #333;
}

.vikendice-tabela tr:hover {
  background-color: #f9f9f9;
}

.slika-vikendice {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}


.sort-arrow {
  font-size: 14px;
  margin-left: 6px;
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
  color: #555;
  cursor: pointer; 
}

.sort-arrow:hover {
  transform: scale(1.1);
}

.search {
  padding-top:10px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: center;
  font-size: 18px;
  color: #333;
}

.search input[type="text"] {
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 250px;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.search input[type="text"]:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.2);
}

.search label {
  font-weight: 500;
  color: #555;
}
button-group {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.dugmad-akcije {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.dugmad-akcije button {
  padding: 10px 16px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  min-width: 160px;
  transition: background-color 0.2s ease-in-out;
}

.dugmad-akcije button:hover {
  background-color: #005fa3;
}
.mat-mdc-header-cell {
  background-color: #e0e0e0 !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #333 !important;
}

.mat-mdc-cell {
  text-align: center !important;
}

.mat-mdc-table {
  width: 95% !important;
  margin: 0 auto !important;
}


