

.profilna-sekcija {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profilna-slika {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 12px;
  column-gap: 20px;
  margin-bottom: 30px;
}

.labela {
  font-weight: bold;
  color: #555;
  text-align: right;
}

.vrednost {
  color: #333;
  text-align: left;
}

