<header class="app-header">
  <div class="header-content">
    <h1 class="app-title">Promena lozinke</h1>
  </div>
</header>

<div class="content-wrapper">
  <div class="form-container">
    <h2>Promena lozinke</h2>
    <form #form="ngForm" class="form-group">
      <label class="form-label" for="stara">Stara lozinka:</label>
      <input
        type="password"
        id="oldPassword"
        name="oldPassword"
        [(ngModel)]="oldPassword"
        class="form-input"
        required
      />

      <label class="form-label" for="nova">Nova lozinka:</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        [(ngModel)]="newPassword"
        class="form-input"
        required
      />

      <label class="form-label" for="ponovo">Ponovi novu lozinku:</label>
      <input
        type="password"
        id="repeatedNewPassword"
        name="repeatedNewPassword"
        [(ngModel)]="repeatedNewPassword"
        class="form-input"
        required
      />

      <div class="dugmad">
        <button class="btn-primary" type="button" (click)="changePassword()">Promeni lozinku</button>
        <button class="btn-primary" type="button" (click)="goBack()">Nazad</button>
      </div>
    </form>
  </div>

</div>

<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-copyright">
      <p>&copy; 2025 Rezervacija Vikendica. Sva prava zadržana.</p>
    </div>
  </div>
</footer>