:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
}



.nazad-wrapper {
  text-align: center;
  margin-top: 10px;
}

.nazad-btn {
  padding: 10px 20px;
  background-color: transparent;
  color: #0077cc;
  border: 2px solid #0077cc;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nazad-btn:hover {
  background-color: #0077cc;
  color: white;
}

.uspeh {
  margin-top: 10px;
  color: green;
  font-size: 0.9em;
}

.app-footer {
  margin-top: auto;
}