

.kartica-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-icon {
  width: 24px;  
  height: auto;
  margin-top: 2px; 
  opacity: 0.9; 
}

.home-btn{
  width: 30%;
  margin: 0 auto;
  display: block;
  padding: 12px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

 .home-btn:hover{
  background-color: #005fa3;
 }